{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}

{% block main_content %}
<div class="welcome-section">
    <p class="welcome-text">Bienvenido!</p>
</div>

<h2 class="section-title">Avisos más recientes</h2>

<table class="data-table recent-posts-table">
    <thead>
        <tr>
            <th class="table-header">Fecha publicación</th>
            <th class="table-header">Comuna</th>
            <th class="table-header">Sector</th>
            <th class="table-header">
                <div>Cantidad Tipo</div>
                <div>Edad</div>
            </th>
            <th class="table-header">Foto</th>
        </tr>
    </thead>
    <tbody>
        {% for listing in listings %}

        <tr class="table-row">
            <td class="table-cell date-cell">{{ listing.date_input }}</td>
            <td class="table-cell">{{ listing.municipality.name }}</td>
            <td class="table-cell">{{ listing.sector }}</td>
            <td class="table-cell pet-info">
                <div class="pet-quantity">{{ listing.quantity }} {{ listing.type }}</div>
                <div class="pet-age">
                    {{listing.age}}
                    {% if listing.age == 1 %}
                        {% if listing.age_unit == "a" %}año{% elif listing.age_unit == "m" %}mes{% else %}ERROR{% endif %}
                    {% else %}
                        {% if listing.age_unit == "a" %}años{% elif listing.age_unit == "m" %}meses{% else %}ERROR{% endif %}
                    {% endif %}
                </div>
            </td>
            <td class="table-cell photo-cell"><img src="{{ url_for('static', filename='uploads/' ~ photo_dict[listing.id].nombre_archivo) }}" width="200" alt="Imagen del aviso" class="pet-photo"></td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block body_scripts %}
{% endblock %}